<div class='jn-board' #canvas>
  <div class='left-column'>
    <div class='left' #left>
    </div>
  </div>
  <div class='left-connector-column'>
    <div class='bottom'>
    </div>
  </div>
  <div class='middle-column'>
    <div class='up' #up>
      <jn-domino *ngFor="let domino of getUpDominos(); let i = index" [domino]="domino" [ngClass]="{double:domino.isDouble(), inverted: domino.inverted}"></jn-domino>
    </div>
    <div class='center'>
      <jn-domino *ngIf="board.center" [domino]="board.center"></jn-domino>
    </div>
    <div class='down' #down>
      <jn-domino *ngFor="let domino of getDownDominos(); let i = index" [domino]="domino" [ngClass]="{double:domino.isDouble(), inverted: domino.inverted}"></jn-domino>
    </div>
  </div>
  <div class='right-connector-column'>
    <div class='top'>
    </div>
  </div>
  <div class='right-column'>
    <div class='right' #right>
    </div>
  </div>
</div>
