:host{
  background-image: url('../../../assets/board.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;

  .jn-board{
    width:100%;
    height:435px;
    display:flex;
    justify-content: center;
    align-items: center;

    .left-column{
      height:100%;

      .left{
        width:50px;
        height:100%;
        border:solid 2px black;
      }
    }

    .left-connector-column{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width:50px;
      height:100%;

      .bottom{
        width:50px;
        height:25px;
        border:solid 2px black;
      }
    }

    .middle-column{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width:50px;

      .up{
        width:50px;
        max-height:calc(50vh - 80px);
        height:250px;
        border:solid 2px black;
      }

      .center{
        width:50px;
        height:25px;
        border:solid 2px black;
        margin:0 auto;

        jn-domino{
          transform:rotate(180deg);
        }
      }

      .down{
        width:50px;
        height:calc(50vh - 150px);
        border:solid 2px black;
      }
    }

    .right-connector-column{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width:50px;
      height:100%;

      .top{
        width:50px;
        height:25px;
        border:solid 2px black;
      }
    }

    .right-column{
      height:100%;

      .right{
        width:50px;
        height:100%;
        border:solid 2px black;
      }
    }
  }

  .right{
    height:100px;
    width:50px;
    border:solid 2px black;
  }

  .second-row{
    display: flex;
    flex-direction: row-reverse;
    border:solid 2px black;
    justify-content: flex-end;

    .bottom{
      width:50px;
      height:25px;
      border:solid 2px black;
    }

    .left{
      height:100px;
      width:50px;
      border:solid 2px black;
    }
  }

  .top-row{
    width:100%;
    height:50px;
    display: flex;
    align-items: center;

    jn-domino{
      transform:rotate(180deg);
    }

    jn-domino.inverted{
      transform:rotate(0deg);
    }

    jn-domino.double{
      transform:rotate(90deg);
      margin:0px -12.5px;
    }

    jn-domino.double.inverted{
      transform:rotate(270deg);
    }
  }

  .second-row{
    .up{
      align-self:flex-start;
      width:50px;
      display: flex;
      flex-direction: column;
      flex-flow: column-reverse;
      align-items: center;
      margin-left:-12.5px;

      jn-domino.inverted{
        transform:rotate(180deg);
      }

      jn-domino.double{
        transform:rotate(90deg);
        margin:13px 0px;
      }

      jn-domino.double.inverted{
        transform:rotate(270deg);
      }
    }
  }

  .middle-row{
    width:100%;
    display:flex;
    align-items:center;

    .left,
    .right{
      height:50px;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;

      jn-domino.inverted{
        transform:rotate(180deg);
      }

      jn-domino.double{
        transform:rotate(90deg);
        margin:0px -13px;
      }

      jn-domino.double.inverted{
        transform:rotate(270deg);
      }
    }

    .right{
      flex-direction: row;
    }
  }

  .fourth-row{
    display: flex;
    width:100%;
    justify-content: flex-end;

    .down{
      width:50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right:-12.5px;

      jn-domino.inverted{
        transform:rotate(180deg);
      }

      jn-domino.double{
        transform:rotate(90deg);
        margin:13px 0px;
      }

      jn-domino.double.inverted{
        transform:rotate(270deg);
      }
    }
  }

  .bottom-row{
    width:100%;
    height:50px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    jn-domino{
      transform:rotate(180deg);
    }

    jn-domino.inverted{
      transform:rotate(0deg);
    }

    jn-domino.double{
      transform:rotate(90deg);
      margin:0px -12.5px;
    }

    jn-domino.double.inverted{
      transform:rotate(270deg);
    }
  }
}
