<div class='jn-player'>
  <div *ngIf="showHand" class='hand'>
    <ng-container *ngFor="let domino of player.hand">
      <jn-domino (click)="dominoPicked(domino)" [domino]="domino" [ngClass]="{active:domino==active}"></jn-domino>
    </ng-container>
  </div>
  <div class='score'>
    <div class='point' *ngFor="let point of getPoints()"></div>
  </div>
  <div class='profile'>
    <div class='avatar'>
      <img src='assets/{{player.avatar}}' alt='avatar' />
    </div>
    <div class='details'>
      <div class='name'>{{player.name}}</div>
      <div class='role'>{{player.role}}</div>
    </div>
  </div>
</div>
