#game-screen{
  display:flex;
  align-items: center;
  flex-direction: column;
  width:100%;
  position:relative;

  jn-player{
    position: absolute;
    opacity:0.7;
    z-index:100;
  }

  jn-player.top{
    top:0px;
  }

  jn-player.left{
    top:calc(50vh - 37.5px);
    left:-45px;
  }

  jn-player.right{
    top:calc(50vh - 37.5px);
    right:-45px;
  }

  .active-player{
    position:absolute;
    bottom:10px;
    right:10px;

    jn-player{
      position:static;
    }

    .hand{
      display: flex;
      justify-content: center;
      align-items: center;
      height:50px;
      margin-bottom:10px;

      jn-domino{
        transform:rotate(90deg);
        margin:0px -10px;
      }

      jn-domino.active{
        margin-top:-50px;
      }
    }
  }

  jn-player.active{
    opacity:1;
  }

  .status-dial{
    position:absolute;
    bottom:5px;
    left:5px;
    height:120px;
    width:120px;
    border-radius:60px;
    border:solid 1px #161616;
    background-color:#949494;
    display:flex;
    justify-content: center;
    align-items: center;

    .status{
      cursor:pointer;
      display:flex;
      justify-content: center;
      align-items: center;
      height:100px;
      width:100px;
      border-radius:65px;
      background-color:#161616;
      opacity:0.8;

      span{
        text-align: center;
        width:100px;
        color:#D5DAD7;
        font-style:italic;
        margin-top:5px;
        color:#FFFFFF;
        font-size:1.15em;
      }

      .border{
        background-color:#949494;
        height:100%;
        width:2px;
      }

      .play{
        display:flex;
        justify-content: center;
        align-items: center;
        height:100%;
        width:calc(50% - 1px);
        opacity:0.5;

        img{
          height:25px;
          width:25px;
        }
      }

      div.active{
        opacity:1;
      }
    }

    .status.active{
      color:#FFFFFF;
      opacity:1;
    }
  }
}

.button-panel{
  display: flex;

  jn-button{
    margin-right:10px;
  }
}

input{
  text-align:center;
  padding:10px;
  font-size:1.25em;
  margin:10px 0px;
}
